In [1]:
l = [1,2,3,4,"sudh","kumar", 45.56]

In [3]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l:
    pass

In [5]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [6]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself it will execute else

In [7]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [9]:
for i in l:
    if i == 4:
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [10]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else :
    print("print string", s)

s
u
d
h
a

In [11]:
s = "sudhanshu"
for i in s:
    if i == "z":
        break
    print(i)
else :
    print("print string", s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [13]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [14]:
b = {4,5,6,7,7,7,7,7,7,8,"sudh"}

In [15]:
type(b)

set

In [16]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [17]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [18]:
d = {"key": "sudh" , "contact": "sudhanshu@ineuron.ai", "position": "xyz"}

In [19]:
d

{'key': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [20]:
for i in d:
    print(i)

key
contact
position

In [21]:
d["key"]

'sudh'

In [22]:
d["contact"]

'sudhanshu@ineuron.ai'

In [24]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [25]:
for i in d:
    print(d[i], i)

sudh key
sudhanshu@ineuron.ai contact
xyz position

In [28]:
for i in d:
    print(i, d[i])

key sudh
contact sudhanshu@ineuron.ai
position xyz

In [30]:
for i in d:
    print(i,":", d[i])

key : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [31]:
range(9)

range(0, 9)

In [32]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
for i in range(9):
        print(i)

0
1
2
3
4
5
6
7
8

In [36]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [37]:
list(range(0,9, -1))

[]

In [38]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [41]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end = "    ")
    print("\n")

sudh

sudh    sudh

sudh    sudh    sudh

sudh    sudh    sudh    sudh

In [48]:
t = (3,23,45,67,2,4,5,6)

In [49]:
type(t)

tuple

In [52]:
n = 9
for i in range(n-1):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [53]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [55]:
s

'ineuron'

In [57]:
list(range(len(s) , 0, -1))

[7, 6, 5, 4, 3, 2, 1]

In [58]:
list(range(len(s) , -1, -1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [62]:
for i in range(len(s)-1 , -1, -1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [63]:
d

{'key': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [65]:
tuple(d)

('key', 'contact', 'position')

In [66]:
d.items()

dict_items([('key', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [67]:
for i in d.items():
    print(i)

('key', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [68]:
for i in d.items():
    print(i , type(i))

('key', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [73]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [76]:
l = ["sudh" , "kumar", 436478, 987, 8999787]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [77]:
l1

[436478, 987, 8999787]

In [78]:
d = {1:57444476, "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 342 : "fsdjfv" , 234 : "4547"}

In [79]:
for i in d:
    print(d[i], i)

57444476 1
sudh name
sudhanshu@ineuron.ai email_id
fsdjfv 342
4547 234

In [82]:
for i in d:
    if type(i) == int :
        print(i, ":" , d[i])

1 : 57444476
342 : fsdjfv
234 : 4547

In [83]:
s = "aaaabbccd"
a : 4
b : 2
c : 2
d : 1

In [84]:
for i in set(s):
    print(i, ":" , s.count(i))

a : 4
d : 1
b : 2
c : 2

In [85]:
for i in set(s):
    print(i, " : " , s.count(i))

a  :  4
d  :  1
b  :  2
c  :  2

In [86]:
s.count("b")

2

In [87]:
i = 3258995902309093

In [90]:
str(i)

'3258995902309093'

In [ ]:
for i in int(i):
    print(s.count(i))

In [91]:
t = ("sudh" , "kumar" , [1,2,3,4], (3,4,5,6), {"key1" : "sudh" , "key2" : "kumar"})

In [92]:
t

('sudh',
 'kumar',
 [1, 2, 3, 4],
 (3, 4, 5, 6),
 {'key1': 'sudh', 'key2': 'kumar'})

In [93]:
for i in t:
    print(i)

sudh
kumar
[1, 2, 3, 4]
(3, 4, 5, 6)
{'key1': 'sudh', 'key2': 'kumar'}

In [96]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3 :
                print(j)

3
3

In [97]:
t = ("sudh" , "kumar" , [1,2,3,4], (3,4,5,6), {3: "sudh" , "key2" : "kumar"})

In [98]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == 3 :
                print(j)

3
3
3

In [ ]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3 :
                print(j)
    if type(i) == dict: